{% extends 'layout.html' %}
{% load static %}
{% block page %}
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="{% static 'images/photos/parallax.jpg' %}">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>About Us</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li class="active">About Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>Proin pellentesque quam at quam aliquet, eget mattis quam euismod. Curabitur imperdiet suscipit facilisis. Maecenas diam quam, sodales eu est eu, posuere ultricies augue. Sed rhoncus facilisis risus, nec sagittis dui luctus in. Nunc eget ante odio. Suspendisse eu diam ut nisi ullamcorper interdum. Pellentesque sit amet quam risus.</p>
						<!-- ***** Gallery Start ***** -->
						<div class="row page-gallery-wrapper">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<a href="{% static 'images/photos/about/1.jpg' %}" class="page-gallery" title="About Us">
									<img src="{% static 'images/photos/about/1.jpg' %}" alt="">
								</a>
							</div>
							<div class="col-lg-4 col-md-8 col-sm-12">
								<div class="row">
									<div class="col-lg-12 col-md-6">
										<a href="{% static 'images/photos/about/2.jpg' %}" class="page-gallery small" title="About Us">
											<img src="{% static 'images/photos/about/2.jpg' %}" alt="">
										</a>
									</div>
									<div class="col-lg-12 col-md-6">
										<a href="{% static 'images/photos/about/3.jpg' %}" class="page-gallery small" title="About Us">
											<img src="{% static 'images/photos/about/3.jpg' %}" alt="">
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<a href="{% static 'images/photos/about/4.jpg' %}" class="page-gallery" title="About Us">
									<img src="{% static 'images/photos/about/4.jpg' %}" alt="">
								</a>
							</div>
						</div>
						<!-- ***** Gallery End ***** -->
						<p>Quisque quis faucibus tellus, non tincidunt urna. Pellentesque faucibus aliquet mi, id efficitur nisl aliquam at. Phasellus volutpat lobortis consectetur. Duis efficitur iaculis ipsum ut sodales. Phasellus suscipit lectus eget sapien accumsan, vitae auctor magna suscipit. Ut sagittis mauris auctor dictum feugiat. Duis lectus neque, aliquet quis justo euismod, rutrum vehicula felis. In luctus dui nec pretium gravida. In mauris lorem, accumsan sit amet lacinia non, auctor id dui. </p>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>

	<!-- ***** Parallax Start ***** -->
	<section class="parallax">
		<div class="parallax-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="info">
							<p>We design and develop <span>mobile apps</span> that delight your users and grow your business.</p>
							<a class="btn-white-line" href="#">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Parallax End ***** -->

	<!-- ***** Our Team Start ***** -->
	<section class="section pbottom-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="center-heading">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>
				<div class="offset-lg-3 col-lg-6">
					<div class="center-text">
						<p>Fusce placerat pretium mauris, vel sollicitudin elit lacinia vitae. Quisque sit amet nisi erat.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="{% static 'images/photos/team/1.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>Fletch Skinner</strong>
								<span>Product Strategist</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="{% static 'images/photos/team/2.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>Lance Bogrol</strong>
								<span>Visual Designer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="{% static 'images/photos/team/3.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>Valentino Morose</strong>
								<span>Android Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item">
						<div class="header">
							<div class="img">
								<img src="{% static 'images/photos/team/4.jpg' %}" alt="">
							</div>
							<div class="info">
								<strong>Giles Posture</strong>
								<span>iOS Developer</span>
							</div>
						</div>
						<div class="body">
							Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem malesuada.
						</div>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Our Team End ***** -->
{% endblock %}
