{% extends 'layout.html' %}
{% load static %}
{% block page %}
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="{% static 'images/photos/2.jpg' %}">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>About Us</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li class="active">About Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
                        <p>
                            Book your train tickets hassle-free on Paytm from the comfort of your home in just a few clicks. You no longer have to wait in long queues for TrainTicket ticket booking since online railway reservation is now easy, quick and secure.
                            You can book trains for any destination, class or train type with us. Check out the details such as the train departure & arrival time between two particular destinations. We aim to offer easy services, rewarding you with a hassle-free train booking experience.
                        </p>
						<div class="row page-gallery-wrapper">
							<div class="col-lg-4 col-md-4 col-sm-12">
								<span class="page-gallery" title="About Us">
									<img src="{% static 'images/photos/1.jpg' %}" alt="">
								</span>
							</div>
							<div class="col-lg-4 col-md-8 col-sm-12">
								<div class="row">
									<div class="col-lg-12 col-md-6">
										<span  class="page-gallery small" title="About Us">
											<img src="{% static 'images/photos/2.jpg' %}" alt="">
										</span>
									</div>
									<div class="col-lg-12 col-md-6">
										<span class="page-gallery small" title="About Us">
											<img src="{% static 'images/photos/4.jpg' %}" alt="">
										</span>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-12">
								<span class="page-gallery" title="About Us">
									<img src="{% static 'images/photos/3.jpg' %}" alt="">
								</span>
							</div>
						</div>
						<!-- ***** Gallery End ***** -->
						<p> Travellers can with no trouble find relevant trains, fares for various classes, schedules, seat availability and eventually make a reservation online.

                            It is a quick and straightforward process that makes travelling more enjoyable. We also assure you zero service & payment gateway charges on TrainTicket ticket bookings. </p>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>

{% endblock %}
