<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="text">
						Train ticket is a sample website for ordering train
						tickets. Here you can add your extra discriptions
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li>
							<a href="{% url 'about-us' %}">
                                <i class="fa fa-angle-right"></i>
                                <span>About Us</span>
                            </a>
						</li>
						<li>
							<a href="{% url 'contact-us' %}">
                                <i class="fa fa-angle-right"></i>
                                <span>Contact</span>
                            </a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>Iran, Tehran<br />Your address</p>
						<p>Phone: (123) 456-7890</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">
						© 2022 TrainTicket. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</footer>