<div class="loader-wrapper">
    <div class="center">
        <div class="dot dot-one"></div>
        <div class="dot dot-two"></div>
        <div class="dot dot-three"></div>
        <div class="dot dot-four"></div>
        <div class="dot dot-five"></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="main-nav" style="float: left">
                    <ul class="nav">
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
                        <li>
                            <a href="{% url 'contact-us' %}" class="btn-nav-line">CONTACT</a>
                        </li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>