<div class="loader-wrapper">
    <div class="center">
        <div class="dot dot-one"></div>
        <div class="dot dot-two"></div>
        <div class="dot dot-three"></div>
        <div class="dot dot-four"></div>
        <div class="dot dot-five"></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="main-nav" >
                    <ul class="nav" style="float: right">
                        {% if user.id is None %}
                            <li><a href="{% url 'registerform' %}">REGISTER</a></li>
                            <li><a href="{% url 'loginform' %}">LOGIN</a></li>
                        {% else %}
                            <li style="color:orangered; font-weight: bolder" class="mt-1">HI {{ user.username | upper}}</li>
                            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav" style="float: left">
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'search-form' %}">SEARCH</a></li>

                        <li><a href="{% url 'about-us' %}">ABOUT US</a></li>
                        <li>
                            <a href="{% url 'contact-us' %}" class="btn-nav-line">CONTACT</a>
                        </li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>