{% extends 'layout.html' %}
{% load static %}
{% block page %}
        <section class="page">
            <!-- ***** Page Top Start ***** -->
            <div class="cover" data-image="{%  static 'images/photos/2.jpg' %}">
                <div class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Login To Your Account</h1>
                            </div>
                            <div class="col-lg-12">
                                <ol class="breadcrumb">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li class="active">Login</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Page Top End ***** -->

            <!-- ***** Page Content Start ***** -->
            <div class="page-bottom">


                <div class="container">
                    <div class="row">
                        <!-- ***** Contact Text Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <h5 class="mbottom-30">New on TicketTrain?</h5>
                            <div class="contact-text">
                                <p>
                                    From this section you can login to your account and continue to use our services, such as buying tickets
                                </p>
                            </div>
                            <hr />
                            <h5 class="mbottom-30">New to TrainTicket?</h5>
                            <div class="contact-text">
                                <p>
                                    Then you can register a new account from <a href="{% url 'registerform' %}">Here</a>
                                </p>
                            </div>
                        </div>
                        <!-- ***** Contact Text End ***** -->

                        <!-- ***** Contact Form Start ***** -->
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            {% include 'common/toast.html' %}
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <div class="compact-form">
                                    <div class="row">
                                        <div class="row">
                                            <label>
                                                Username:
                                                <input required
                                                    type="text" name="name"
                                                    placeholder="Enter your username"
                                                />
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label>
                                                Password
                                                <input type="password" name="password" required
                                                    placeholder="Enter your password" />
                                            </label>
                                        </div>
                                        <div class="col-lg-12 text-center">
                                            <button type="submit"
                                                class="btn-primary btn btn-lg btn-block w-50"
                                            >
                                                Login
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- ***** Contact Form End ***** -->
                    </div>
                </div>
            </div>
            <!-- ***** Page Content End ***** -->
        </section>

{% endblock %}
