<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Train Ticket</title>
        <meta
            name="description"
            content="Sample website for buying train tickets"
        />
        <meta
            name="keywords"
            content="train, ticket, buy, sell, trainstation, agency"
        />
        <meta name="author" content="pya-h" />

        <!-- Favicon -->
        <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png" /> -->

        <!-- Bootstrap & Plugins CSS -->
        <link
            href="assets/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="assets/css/font-awesome.min.css"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Custom CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- ***** Preloader Start ***** -->
        <div class="loader-wrapper">
            <div class="center">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
                <div class="dot dot-four"></div>
                <div class="dot dot-five"></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="main-nav" style="float: left">
                            <ul class="nav">
                                <li><a href="../home.html">HOME</a></li>
                                <li><a href="../us/about.html">ABOUT US</a></li>
                                <li>
                                    <a href="../us/contact.html" class="btn-nav-line"
                                        >CONTACT</a
                                    >
                                </li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->
	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Blog</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="../home.html">Home</a></li>
								<li class="active">Blog</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="blog-list">
							<div class="row">
								<!-- ***** Blog Post Big Start ***** -->
								<div class="col-lg-12">
									<div class="blog-post-thumb big">
										<div class="img">
											<img src="assets/images/photos/blog/1.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta">
											<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<h3>
											<a href="blog-single.html">5 steps to becoming GDPR compliant on mobile apps</a>
										</h3>
										<div class="text">
											Mauris tellus sem, ultrices varius nisl at, convallis iaculis mauris. Sed eget sem vitae purus tempus dignissim. Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.
										</div>
										<a href="blog-single.html" class="btn-primary-line">Read More</a>
									</div>
								</div>
								<!-- ***** Blog Post Big End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/2.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta">
											<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<h3>
											<a href="blog-single.html">Measuring app success through mobile analytics your app</a>
										</h3>
										<div class="text">
											Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										</div>
										<a href="blog-single.html" class="btn-primary-line">Read More</a>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/blog/3.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta">
											<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<h3>
											<a href="blog-single.html">How accessibility will influence your app development</a>
										</h3>
										<div class="text">
											Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.
										</div>
										<a href="blog-single.html" class="btn-primary-line">Read More</a>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/about/3.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta">
											<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<h3>
											<a href="blog-single.html">Measuring app success through mobile analytics your app</a>
										</h3>
										<div class="text">
											Cras imperdiet faucibus sem, a dignissim urna feugiat sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
										</div>
										<a href="blog-single.html" class="btn-primary-line">Read More</a>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->

								<!-- ***** Blog Post Standard Start ***** -->
								<div class="col-lg-6 col-md-6 col-sm-12">
									<div class="blog-post-thumb">
										<div class="img">
											<img src="assets/images/photos/about/1.jpg" alt="">
											<div class="date">
												<strong>APR</strong>
												<span>09</span>
											</div>
										</div>
										<ul class="post-meta">
											<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
											<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
										</ul>
										<h3>
											<a href="blog-single.html">How accessibility will influence your app development</a>
										</h3>
										<div class="text">
											Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.
										</div>
										<a href="blog-single.html" class="btn-primary-line">Read More</a>
									</div>
								</div>
								<!-- ***** Blog Post Standard End ***** -->
							</div>
						</div>

						<!-- ***** Pagination Start ***** -->
						<nav>
							<ul class="pagination justify-content-center">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
						<!-- ***** Pagination End ***** -->
					</div>

					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<div class="search-widget">
									<div class="search">
										<form action="">
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</div>
								<ul>
									<li><a href="#">Technology <span>23</span></a></li>
									<li><a href="#">Companies <span>12</span></a></li>
									<li><a href="#">Mobile <span>153</span></a></li>
									<li><a href="#">Social Media <span>9</span></a></li>
									<li><a href="#">General <span>95</span></a></li>
									<li><a href="#">App Review <span>32</span></a></li>
									<li><a href="#">Mobile Future <span>76</span></a></li>
								</ul>
								<div class="home-services-item box active">
									<h5 class="services-title">Tell us about your projects and we’ll get back to you with details on how we can make this work. Or just ask us anything mobile.</h5>
									<a class="btn-white-line" href="#">Contact Us</a>
								</div>
								<div class="widget-tags">
									<a href="#">Team</a>
									<a href="#">iOS</a>
									<a href="#">Android</a>
									<a href="#">App</a>
									<a href="#">Feature</a>
									<a href="#">Development</a>
									<a href="#">Design</a>
									<a href="#">Store</a>
									<a href="#">UX</a>
									<a href="#">Back-End</a>
									<a href="#">UI</a>
									<a href="#">Coding</a>
									<a href="#">Database</a>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="text">
						Train ticket is a sample website for ordering train
						tickets. Here you can add your extra discriptions
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>About Us</span></a
							>
						</li>
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>Contact</span></a
							>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>Iran, Tehran<br />Your address</p>
						<p>Phone: (123) 456-7890</p>
						<ul class="social">
							<li>
								<a href="#"
									><i class="fa fa-twitter-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-linkedin-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-github-square"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">
						© 2022 TrainTicket. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/imgfix.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
</body>
</html>
