<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Train Ticket</title>
        <meta
            name="description"
            content="Sample website for buying train tickets"
        />
        <meta
            name="keywords"
            content="train, ticket, buy, sell, trainstation, agency"
        />
        <meta name="author" content="pya-h" />

        <!-- Favicon -->
        <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png" /> -->

        <!-- Bootstrap & Plugins CSS -->
        <link
            href="assets/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="assets/css/font-awesome.min.css"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Custom CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- ***** Preloader Start ***** -->
        <div class="loader-wrapper">
            <div class="center">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
                <div class="dot dot-four"></div>
                <div class="dot dot-five"></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="main-nav" style="float: left">
                            <ul class="nav">
                                <li><a href="../home.html">HOME</a></li>
                                <li><a href="../us/about.html">ABOUT US</a></li>
                                <li>
                                    <a href="../us/contact.html" class="btn-nav-line"
                                        >CONTACT</a
                                    >
                                </li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Measuring app success through mobile analytics</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="../home.html">Home</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li class="active">Blog Single</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-12">
								<div class="blog-post-thumb big mbottom-60">
									<!-- ***** Post Top Start ***** -->
									<div class="img">
										<img src="assets/images/photos/blog/2.jpg" alt="">
										<div class="date">
											<strong>APR</strong>
											<span>09</span>
										</div>
									</div>
									<ul class="post-meta mbottom-20">
										<li><a href="#"><span class="icon fa fa-user"></span>by Beapp</a></li>
										<li><a href="#"><span class="icon fa fa-comment-o"></span>3 Comments </a></li>
									</ul>
									<!-- ***** Post Top End ***** -->

									<!-- ***** Post Content Start ***** -->
									<div class="text post-detail">
										<p>Mauris tellus sem, ultrices varius nisl at, convallis iaculis mauris. Sed eget sem vitae purus tempus dignissim. Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.</p>
										<p>Quisque bibendum mi quis consequat ultricies. Donec quis pharetra nisi, a congue justo. Aliquam erat volutpat. Nunc id lacus egestas, accumsan lorem eu, rhoncus velit. Duis dapibus varius mauris, ut rutrum leo vulputate a. Praesent ac fringilla turpis. Donec rhoncus eget enim sit amet euismod. Pellentesque pellentesque malesuada lobortis. Quisque et dictum nulla. Sed eu ante at massa imperdiet ultricies. Vivamus vulputate faucibus lorem, eget efficitur purus dictum nec.</p>
										<blockquote>
											<div class="text">
												<p>Aliquam ullamcorper malesuada dapibus. Curabitur ac lectus sit amet dui euismod auctor. Suspendisse sagittis id lacus eget vulputate. Ut nec arcu ut sem molestie tincidunt luctus eget tellus. Etiam consectetur, eros eu laoreet sagittis.</p>
											</div>
											<div class="author">Parsley Montana</div>
										</blockquote>
										<p>Suspendisse condimentum, eros ac pulvinar iaculis, augue odio vehicula leo, vitae dictum nibh quam rhoncus risus. Nam tristique tellus et convallis faucibus. Cras in lacus at odio tristique tempor vel quis sem. Sed id lorem sit amet turpis mattis tempor.</p>
									</div>
									<!-- ***** Post Content End ***** -->

									<!-- ***** Post Share Start ***** -->
									<div class="post-footer">
										<span>Share - </span>
										<ul class="share">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										</ul>
									</div>
									<!-- ***** Post Share End ***** -->
								</div>
							</div>

							<!-- ***** Comment List Start ***** -->
							<div class="col-lg-12">
								<div class="section-comments">
									<h5 class="mbottom-60">Comments (3)</h5>
									<ul>
										<li>
											<div class="avatar">
												<img src="assets/images/comment-avatar.png" alt="">
											</div>
											<div class="comment-content">
												<div class="comment-by">
													<strong>Hans Down</strong>
													<span>09 APR 2018</span>
													<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
												</div>
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
										</li>
										<li>
											<div class="avatar">
												<img src="assets/images/comment-avatar.png" alt="">
											</div>
											<div class="comment-content">
												<div class="comment-by">
													<strong>Penny Tool</strong>
													<span>09 APR 2018</span>
													<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
												</div>
												<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
											</div>
											<ul>
												<li>
													<div class="avatar">
														<img src="assets/images/comment-avatar.png" alt="">
													</div>
													<div class="comment-content">
														<div class="comment-by">
															<strong>Eric Widget</strong>
															<span>09 APR 2018</span>
															<a href="#" class="btn-reply"><i class="fa fa-reply"></i> Reply</a>
														</div>
														<p>Praesent ut fringilla ligula. Vivamus et lacus nec risus malesuada vestibulum. Phasellus lobortis viverra lobortis. Donec iaculis, erat eu bibendum faucibus.</p>
													</div>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<!-- ***** Comment List End ***** -->

							<!-- ***** Comment Form Start ***** -->
							<div class="col-lg-12">
								<div class="post-comment">
									<h5 class="mbottom-30">Post a Comment</h5>
									<div class="comment-form">
										<form action="" method="post">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-item">
														<label for="f1">Name:</label>
														<input type="text" id="f1">
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-12">
													<div class="form-item">
														<label for="f2">Email:</label>
														<input type="text" id="f2">
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-item">
														<label for="f3">Comment:</label>
														<textarea id="f3"></textarea>
													</div>
												</div>
												<div class="col-lg-12">
													<button type="submit" class="btn-primary-line">Submit Comment</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<!-- ***** Comment Form End ***** -->
						</div>
					</div>

					<!-- ***** Aside Start ***** -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<aside class="default-aside">
							<div class="sidebar">
								<div class="search-widget">
									<div class="search">
										<form action="">
											<input type="text" placeholder="Search">
											<button type="submit"><i class="fa fa-search"></i></button>
										</form>
									</div>
								</div>
								<ul>
									<li><a href="#">Technology <span>23</span></a></li>
									<li><a href="#">Companies <span>12</span></a></li>
									<li><a href="#">Mobile <span>153</span></a></li>
									<li><a href="#">Social Media <span>9</span></a></li>
									<li><a href="#">General <span>95</span></a></li>
									<li><a href="#">App Review <span>32</span></a></li>
									<li><a href="#">Mobile Future <span>76</span></a></li>
								</ul>
								<div class="home-services-item box active">
									<h5 class="services-title">Tell us about your projects and we’ll get back to you with details on how we can make this work. Or just ask us anything mobile.</h5>
									<a class="btn-white-line" href="#">Contact Us</a>
								</div>
								<div class="widget-tags">
									<a href="#">Team</a>
									<a href="#">iOS</a>
									<a href="#">Android</a>
									<a href="#">App</a>
									<a href="#">Feature</a>
									<a href="#">Development</a>
									<a href="#">Design</a>
									<a href="#">Store</a>
									<a href="#">UX</a>
									<a href="#">Back-End</a>
									<a href="#">UI</a>
									<a href="#">Coding</a>
									<a href="#">Database</a>
								</div>
							</div>
						</aside>
					</div>
					<!-- ***** Aside End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="text">
						Train ticket is a sample website for ordering train
						tickets. Here you can add your extra discriptions
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>About Us</span></a
							>
						</li>
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>Contact</span></a
							>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>Iran, Tehran<br />Your address</p>
						<p>Phone: (123) 456-7890</p>
						<ul class="social">
							<li>
								<a href="#"
									><i class="fa fa-twitter-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-linkedin-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-github-square"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">
						© 2022 TrainTicket. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/imgfix.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
</body>
</html>
