<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Train Ticket</title>
        <meta
            name="description"
            content="Sample website for buying train tickets"
        />
        <meta
            name="keywords"
            content="train, ticket, buy, sell, trainstation, agency"
        />
        <meta name="author" content="pya-h" />

        <!-- Favicon -->
        <!-- <link rel="icon" type="image/png" href="assets/images/favicon.png" /> -->

        <!-- Bootstrap & Plugins CSS -->
        <link
            href="assets/css/bootstrap.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="assets/css/font-awesome.min.css"
            rel="stylesheet"
            type="text/css"
        />

        <!-- Custom CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- ***** Preloader Start ***** -->
        <div class="loader-wrapper">
            <div class="center">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
                <div class="dot dot-four"></div>
                <div class="dot dot-five"></div>
            </div>
        </div>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Header Area Start ***** -->
        <header class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="main-nav" style="float: left">
                            <ul class="nav">
                                <li><a href="../home.html">HOME</a></li>
                                <li><a href="../us/about.html">ABOUT US</a></li>
                                <li>
                                    <a href="../us/contact.html" class="btn-nav-line"
                                        >CONTACT</a
                                    >
                                </li>
                            </ul>
                            <a class="menu-trigger">
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="assets/images/photos/parallax.jpg">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>Services</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="../home.html">Home</a></li>
								<li class="active">Services</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom pbottom-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-clone"></i>
							<h5 class="services-title">Mobility Services Strategy</h5>
							<p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-connectdevelop"></i>
							<h5 class="services-title">Native App Development</h5>
							<p>Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-object-ungroup"></i>
							<h5 class="services-title">Design & User Experience</h5>
							<p>Donec pellentesque turpis utium lorem imperdiet semper look viverra.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-line-chart"></i>
							<h5 class="services-title">Maintenance and App Monitoring</h5>
							<p>Facilisis arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-user-o"></i>
							<h5 class="services-title">User Definition and User Profiling</h5>
							<p>Morbi pharetra sapien ut mattis viverra. Curabitur sit amet mattis.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-picture-o"></i>
							<h5 class="services-title">Graphic Assets for App Stores</h5>
							<p>Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-code"></i>
							<h5 class="services-title">API Development Using Node.js</h5>
							<p>Donec pellentesque turpis utium lorem imperdiet semper look viverra.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-database"></i>
							<h5 class="services-title">Database Solutions - MongoDB</h5>
							<p>Facilisis arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<a href="services-single.html" class="home-services-item">
							<i class="fa fa-cubes"></i>
							<h5 class="services-title">Back-End and API Development</h5>
							<p>Facilisis arcu ligula, malesuada id tincidunt laoreet, facilisis at justo.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-12 col-sm-12">
					<div class="text">
						Train ticket is a sample website for ordering train
						tickets. Here you can add your extra discriptions
					</div>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-6">
					<h5>Helpful Links</h5>
					<ul class="footer-nav">
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>About Us</span></a
							>
						</li>
						<li>
							<a href="#"
								><i class="fa fa-angle-right"></i
								><span>Contact</span></a
							>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-12">
					<h5>Contact Us</h5>
					<div class="address">
						<p>Iran, Tehran<br />Your address</p>
						<p>Phone: (123) 456-7890</p>
						<ul class="social">
							<li>
								<a href="#"
									><i class="fa fa-twitter-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-instagram"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-linkedin-square"></i
								></a>
							</li>
							<li>
								<a href="#"
									><i class="fa fa-github-square"></i
								></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">
						© 2022 TrainTicket. All Rights Reserved.
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
</body>
</html>
